<div class="comments">
  <div class="card-header">Comments</div>
    {{#if this}}
    {{#each comments as |comment| }}
    <div class="comment card-body">
      <p>{{this.comment}}</p>
      <p>Created by {{user.name}} on {{format_date date_created}}</p>
    </div>
    {{/each}}
    {{else}}
    <div class="comment card-body">
      <p>No comments!</p>
    </div>
    {{/if}}
</div>