<div class="row mt-4">
  <div class="col-md-6">
    <h3>Update your Blog Post:</h3>

    <form class="form update-blog-form">
      <div class="form-group">
        <label for="blog-title">blog title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" value="{{blog.title}}" />
      </div>
      <div class="form-group">
        <label for="blog-content">content:</label>
        <textarea class="form-input" id="blog-content" name="blog-content">{{blog.content}}</textarea>
      </div>
      <div class="update-form-group">
        <button type="submit" class="btn btn-primary" id="updateBtn" data-id="{{blog.id}}">Save Update</button>
        <button class="btn btn-sm btn-danger" id="deleteBtn" data-id="{{blog.id}}">Delete Blog Post</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>